$white1:  rgb(245, 246, 247);

$blue1: #0082e6;
$blue2:  #005fa8;
$blue3:  #054270;
$blue4: #2c2c54;

$green1:  #08c908;

$teal1: #33d9b2;

$orange0: #ffb142;
$orange1: #ff793f;
$orange2: #cd6133;

$dark1: #3b3b3b;
$dark2: #34495e;

$grey0: #ecf0f1;
$grey1: #d1ccc0;
$grey2: #84817a;

$red0: #b33939;