@import '@/app/scss/colors';

@font-face{
  font-family: 'Roboto';
  src: local('Roboto'), url(@/app/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

*{
  padding: 0;
  margin: 0;
}

a{
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  color: $blue1;
}

a:hover {
  opacity: 0.7;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

}

select{
  outline: none;
}

#root {
  overflow-y: auto;
  max-height: 100vh;

}

body {
  background: rgb(235, 235, 235);
  // background: url("@/app/assets/images/GDPR.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  font-family: 'Roboto';
  max-height: 100vh;

}