@import "@/app/scss/mixins";
@import "./topBarVariables.scss";

.container {
  // @include unselectable;
  -webkit-app-region: drag;
  width: 100%;
  height: $containerHeight;
  background-color: rgb(25, 55, 85);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 9999;

  .iconsContainer{
    width: 90px;
    height: $containerHeight;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #747474;
    -webkit-app-region: none;
    // background-color: rgb(68, 101, 151);
    color: #8b8b8b;

    .button{
      
      &:hover{
        cursor: pointer;
      }
    }
  }

}