@import '@/app/scss/colors';

$borderRadius:  8px;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .form {
    width: 85%;
    max-width: 600px;
    background: white;
    top: 100px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: $borderRadius;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  }
}