@import '@/app/scss/index';

.container{
  padding-bottom: 100px;
  padding-top: 20px;
  @include whiteContainer;

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;


    .key {
      font-size: 20px;
      margin-left: 40px;
    }

    .val{
      margin-right: 18px;
      font-size: 18px;
      max-width: 400px;
    }

    button{
      height: 45px;
    }

  }

}