.btn {
  color: white;
  text-transform: uppercase;
  max-width: 120px;
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
  
  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.82;
  }
}