<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{_layouts/_mainLayout :: layout(~{::title}, ~{::div#pageContent}, ~{::div.empty}, ~{::script} )}">


<title>GDPR Expert | Success</title>

<body>
  <div class="empty" style="display: none;"></div>


  <div id="pageContent" class="container">
    <div class="row" style="margin-top: 30px;">
      <h1>Cererea a fost salvată cu success </h1>
      <div style="height: 100%;"></div>

    </div>
  </div>


  <script>
  </script>
</body>



</html>