<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{_layouts/_mainLayout :: layout(~{::title}, ~{::div#pageContent}, ~{::div.empty}, ~{::div.empty} )}">


<title>GDPR - Cerere</title>

<body>

  <div class="empty" style="display: none;"></div>

  <div id="pageContent" class="container">
    <div class="row" style="margin-top: 30px;">
      <div class="col m12">
        <div class="card">
          <div class="card-content black-text">
            <h4 style="text-align: center; margin: 20px 0 40px 0;">
              Exercitați-vă drepturile oferite de Regulamentul
              General Privind Protecția datelor cu Caracter Personal RGPD
            </h4>
            <p style="text-align: center;">
              Trimiteți cererea dvs. pentru a vă exercita drepturile oferite de RGPD
              <b>GDPR - Expert</b>
              prin intermediul formularului de mai jos.
              Acest formular este utilizat cu scopul revendicării drepturilor dumneavoastră.
              Date cu caracter personal solicitate în cererea dată v-or fi transmise
              Responsabilului de Prelucrare/Protecție Datelor din cadrul
              <b>GDPR - Expert</b> care vă va contacta în cel mai scurt timp.
            </p>
          </div>

          <div class="row" style="margin: 20px;">
            <form class="col s12">

              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">Prenume</label>
                </div>

                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Nume</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="phone" type="text" class="validate">
                  <label for="phone">Număr de telefon</label>
                </div>
              </div>

              <div class="row" style="text-align: center;">
                <button 
                  type="submit" 
                  class="waves-effect waves-light btn-large " 
                  style="width: 230px; ">
                  Salvează
                </button>
              </div>

            </form>
          </div>

          <div class="card-action">
            <a class="waves-effect waves-light btn btn-small " href="#">Informații</a>
            <a class="waves-effect waves-light btn-small " href="#">Avertizări</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>



</html>