@import '@/app/scss/mixins';

.card {
  @include unselectable();
  color: #111;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px 0;
  border-radius: 4px;
  width: 320px;
  margin-right: 20px;
  opacity: .98;

  &:hover{
    opacity: .98;
  }

  &:active{
    opacity: .98;
  }

  span {
    display: block;
  }

  .cardHeader {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    background-blend-mode: overlay;
    border-radius: 4px 4px 0 0;
  }

  .cardTitle {
    padding: 3.5% 0 2.5% 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .cardSummary {
    margin: 5% 5% 0 5%;
    
    .dates{
      padding-top: 20px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      .date{
      justify-content: space-between;
        display: flex;
      }

    }
  }

}