
@font-face{
  font-family: 'Roboto';
  src: local('Roboto'), url(@/app/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

*{
  padding: 0;
  margin: 0;
}

a{
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

}

#root {
  overflow-y: auto;
  max-height: 100vh;

}

body {
  background: rgb(235, 235, 235);
  font-family: 'Roboto';
  max-height: 100vh;

}