
@font-face{
  font-family: 'Roboto';
  src: local('Roboto'), url(@/app/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

*{
  color: black;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(235, 235, 235);
  font-family: 'Roboto';
}