@import '@/app/scss/index';

$borderRadius:  8px;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
  .form {
    @include whiteContainer;
    width: 650px;
    margin-top: 15px;
    top: 100px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: $borderRadius;
    text-align: center;
  }
}