@import "@/app/scss/index";

.table {
  display: table;
  box-sizing: border-box;
  width: 100%;

  .rowHeader {
    display: table-row;
    background: $dark1;
    color: #fff;
  }

  .row {
    display: table-row;
    color: #000;
    @include whiteContainer;
  }

  .cell {
    $bColor: rgb(212, 212, 212);
    display: table-cell;
    border-bottom: 1px solid $bColor;
    font-size: 16px;
    line-height: 1.2;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 5px;

    &:first-child{
      border-left: 1px solid $bColor;
    }
    &:last-child{
      border-right: 1px solid $bColor;
    }
  
  }

  .action{
    width: 40px;
    height: 35px;
    color: white;
    background: $blue1;
    border: 1px solid $grey1;

    &:hover{
      opacity: .7;
    }
    
    &:active{
      opacity: .56;
    }
  }
}
